header{
    background-color: darkblue;
    color: darkcyan;
}
#titulo1{
    color: darkcyan;
}
footer{
    background-color: darkblue;
    color: darkcyan;
}
.titulo{
    color: darkblue;
}
li{
    color: darkcyan;
}